@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
    flex-shrink: 0;
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4
}

html,
body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #EFF0F4;
}

.draggable {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

i {
    font-style: normal
}

dl,
li,
menu,
ol,
ul {
    list-style: none
}

table {
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

table tr:hover {
    background-color: #EBECF1;
    cursor: pointer;
}

table.n-hover tr:hover {
    cursor: Default;
    background-color: transparent;
}

/*--------------------------------------------------------------------------------------
common
----------------------------------------------------------------------------------------*/
.wrap {
    width: 100%;
    height: 100%;
    background-color: #EFF0F4;
    position: relative;
    display: flex;
    font-weight: 300;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

i {
    display: inline-block;
}

/*checkbox*/
.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.filter-body label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    color: #1E1F21;
    font-weight: 500;
}

.filter-body label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.styled-checkbox:checked + label:before {
    background: #2B3466;
    border: 1px solid #2B3466;
}

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
    transform: rotate(45deg);
}

table label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    color: #1E1F21;
    font-weight: 500;
}

table label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.table .styled-checkbox:checked + label:before {
    background: #2B3466;
    border: 1px solid #2B3466;
}

.table .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 7px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
    transform: rotate(45deg);
}


/*modal*/
.modal.hide {
    display: none;
}

.modal {
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-contents.sm {
    width: 480px;
}

.modal-contents {
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
}

.modal-head {
    border-bottom: 1px solid #DEE0E5;
    padding: 20px;
}

.modal-head h4 {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.modal-body {
    border-bottom: 1px solid #DEE0E5;
    padding: 20px;
}

.modal-form select {
    background-color: #fff;
    border: 1px solid #DEE0E5;
    border-radius: 3px;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(158, 158, 158, 0.1);
}

.modal-form input {
    width: 100%;
}

.from-title {
    font-size: 14px;
    color: #818080;
    font-weight: 400;
    margin-bottom: 8px;
}

.modal-form {
    margin-bottom: 15px;
    width: 100%;
}

.modal-form:last-of-type {
    margin-bottom: 0;
}

.modal-footer {
    padding: 20px;
    text-align: right;
}

.modal-btn button {
    padding: 10px 22px;
}

.select-2 {
    padding: 10px 0;
}

.select-2 p {
    border: 1px solid #DEE0E5;
    margin-bottom: 8px;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    position: relative;
    padding-right: 25px;
    border-radius: 3px;
}

.select-2 p:last-of-type {
    margin-bottom: 0;
}

.select-2 p i {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 8px;
    color: #9d9fa2;
    top: 50%;
    margin-top: -6.5px;
}

.select-2 p.on {
    background-color: #1B2245;
    color: #fff;
    border: 1px solid #1B2245;
}

.select-2 p.on i {
    color: #e3d9d9;
}

/*textarea*/
textarea {
    width: 100%;
    background-color: #fff;
    border: 1px solid #DEE0E5;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    max-height: 200px;
    font-size: 14px;
}

textarea:focus {
    outline: none;
}

/*--------------------------------------------------------------------------------------
login
----------------------------------------------------------------------------------------*/
.login {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(../images/common/log-bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-contents .logo {
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-contents .logo span {
    font-size: 24px;
    font-weight: 500;
    margin-left: 8px;
    padding-top: 9px;
}

.log-contents .logo img {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

.login-info {
    background-color: #21274a;
    border-radius: 10px;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    width: 450px;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 9%);
}

.login-info h7 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.login-info select {
    background-color: #32365a;
    border: 1px solid #32365a;
    margin-bottom: 8px;
    color: #fff;
    height: 50px;
}

.login-info input {
    margin-bottom: 4px;
    background-color: #32365a;
    border: 1px solid #32365a;
    color: #fff;
    height: 50px;
}

.login-info.signup input {
    margin-bottom: 8px;
}

.login-info.signup strong {
    font-size: 20px;
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #fff;

}

.login-info.signup strong span {
    color: #56BE7A;
    font-weight: 600;
}

.signup-mesege {
    text-align: center;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 400;
    color: #dddddd;
}

.signup-mesege img {
    width: 50px;
    display: inline-block;
}

.login-info input::placeholder {
    color: #b9b1b1;
}

.login-info button {
    width: 100%;
    background-color: #5C61F4;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    height: 50px;
}

.log-save {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    font-size: 13px;
    position: relative;
}

.log-save label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 13px;
    color: #fff;
}

.log-save label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    margin-right: 8px;
}

.log-save .styled-checkbox:checked + label:before {
    background: #2B3466;
    border: 1px solid #2B3466;
}

.log-save .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
    transform: rotate(45deg);
}

.log-btn .log-info-btn {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.log-info-btn li {
    position: relative;
    display: inline-block;
}

.log-info-btn li + li {
    padding-left: 28px;
}

.log-info-btn li + li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 12px;
    width: 1px;
    height: 12px;
    border-radius: 0.5px;
    background-color: #dadada;
}

.log-info-btn li a {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #dadada;
    cursor: pointer;
}

.modal.log .modal-contents h4 {
    color: #fff;
}

.modal.log .modal-contents {
    background-color: #1B2245;
    color: #fff;
}

.modal.log .modal-body {
    border-bottom: 0;
    padding: 40px 20px;
    text-align: center;
    padding-bottom: 0;
    line-height: 28px
}

.modal.log .modal-btn {
    text-align: center;
}


.modal.log .modal-contents.sm {
    width: 400px;
}

.modal.log .modal-btn button {
    padding: 8px 20px;
    font-weight: 500;
}

.modal.log .modal-btn button:first-of-type {
    margin-right: 8px;
}

.modal.log .btn-line-cancel {
    border: 1.5px solid rgba(255, 255, 255, 0.48);
    background-color: #1B2245;
    color: #fff;
    font-weight: 300 !important;
}

/*--------------------------------------------------------------------------------------
header
----------------------------------------------------------------------------------------*/
header {
    width: calc(100% - 200px);
    background-color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 24px;
    display: flex;
    align-items: center;
    z-index: 999;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 9%);
}

header .user {
    width: 100%;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}

header .user i {
    color: #A1A5B7;
    font-size: 18px;
}

.user-name {
    display: inline-block;
    border-left: 1px solid #e0e4f7;
    padding-left: 10px;
    cursor: pointer;
}

.alarm {
    display: inline-block;
    position: relative;
    width: 35px;
    text-align: left;
    margin-right: 8px;
    cursor: pointer;

}

.alarm .badge-alarm {
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: #F45C5C;
    font-size: 12px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    right: 0;
    top: -3px;
}

.user-sub {
    position: fixed;
    background-color: #fff;
    border-radius: 0.475rem;
    top: 60px;
    right: 24px;
    box-shadow: 0px 0px 50px 0px rgba(63, 78, 105, 0.15);
}

.user-sub {
    padding: 24px 12px;
    padding-right: 50px;
}

.user-sub ul li {
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 400;
}

.user-sub ul li a {
    cursor: pointer;
}

.user-sub .logout {
    border-top: 1px solid #e0e4f7;
    margin-top: 14px;
    padding-top: 16px;
}

.user-sub .logout a {
    color: #505558
}

/*--------------------------------------------------------------------------------------
contents
----------------------------------------------------------------------------------------*/
.contents {
    width: 100%;
    position: relative;
    display: flex;
}

/*aside*/
aside {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background-color: #2B3466;
    display: flex;
    flex-direction: column;
    color: #9AA1C3;
    font-size: .9rem;
    font-weight: 300;
}

.menu .logo {
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu .logo .i-menu {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../images/icon/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 18px;
    cursor: pointer;
}

.menu .logo a {
    display: inline-block;
    cursor: pointer;
    margin-left: -20px;
}

.mainmenu:first-of-type a {
    display: inline-block;
    width: 100%;
    padding: 12px;
}

.mainmenu {
    border-bottom: 1px solid #313B71;
}

aside li h4 {
    font-size: 12px;
    padding: 12px;
    color: #5D6590;
}

aside li .submenu ul li {
    cursor: pointer;
}

aside li .submenu ul li a {
    display: inline-block;
    width: 100%;
    padding: 10px 12px;
}

aside li a i {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #9AA1C3;
    font-size: 12px;
    text-align: center;
    padding-top: 1px;
    margin-right: 4px;
}


aside li .on {
    background-color: #1B2245;
    color: #fff;
    font-weight: 400;
}

aside li .on i {
    color: #fff;
}


/*--------------------------------------------------------------------------------------
main
----------------------------------------------------------------------------------------*/
main {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
    flex-direction: column !important;
    position: relative;
    padding-left: 200px;
    padding-top: 60px;

}

main .wrapper {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.main-header {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title h3 {
    display: inline-block;
    margin-right: 6px;
}

.header-title .text-date {
    font-size: 15px;
    font-weight: 500;
}

.main-header .header-sub {
    text-align: right;
    padding: 0;
}

.header-sub button {
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    border-radius: 3px;
    margin-bottom: 12px;
}

.f-box > div {
    background-color: #fff;
    margin: 0.5%;
    width: 19.2%;
    padding: 15px 10px;
    border-radius: 3px;
}

.f-box > div:first-of-type {
    margin-left: 0;
}

.f-box > div:last-of-type {
    margin-right: 0;
}

.f-box .portlet h5 {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    border-right: 1px solid #E3E3E3;
    float: left;
    color: #818080;
    font-weight: 400;
}

.f-box .portlet h5 i {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 100px;
    vertical-align: middle;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.f-box .portlet .price {
    display: inline-block;
    width: 50%;
    text-align: right;
    color: #212529;
    font-weight: 500;
}

.ico-f1 {
    background-image: url(../images/icon/ico-f1.png);
}

.ico-f2 {
    background-image: url(../images/icon/ico-f2.png);
}

.ico-f3 {
    background-image: url(../images/icon/ico-f3.png);
}

.ico-f4 {
    background-image: url(../images/icon/ico-f4.png);
}

.ico-f5 {
    background-image: url(../images/icon/ico-f5.png);
}


.main-content {
    flex-direction: column;
}

/*tab*/
.portlet-header {
    width: 100%;
    border-bottom: 1px solid #ECEEF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
}

.portlet-header h5 {
    padding: 10px 0;
    font-weight: 500;
    font-size: 16px;
}

.portlet-header ul li {
    float: left;
    padding: 20px 24px;
    font-size: 14px;
    cursor: pointer;
}

.portlet-header ul li.on {
    color: #5C61F4;
    font-weight: 500;
    border-bottom: 2px solid #5C61F4;
}

.portlet-body {
    max-height: 100%;
}

/*table*/
.table-filter {
    padding: 8px 24px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.fl-end {
    justify-content: flex-end !important
}

.table-filter > .filter {
    justify-content: flex-end
}

.table-filter .filter > span {
    display: inline-block;
    background-color: #F1F4FF;
    padding: 10px;
    font-size: 13px;
    border-radius: 3px;
    margin: 2px;
}

.table-filter .filter .btn-gr {
    margin: 2px;
}

.table-filter .filter > span i {
    color: #8D919C;
    cursor: pointer;
}

.table-filter .filter > span strong .filter {
    font-weight: 500;
    color: #3E4045;
}

.table-filter .filter > span strong {
    color: #8D919C;
}

.table-radio li {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.table-radio li:last-of-type {
    margin-right: 0;
}

.table-radio .radio-label:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 1px solid #D9D9D9;
    display: inline-block;
    width: 20px;
    top: 0px;
    height: 20px;
    position: relative;
    margin-right: 6px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.table-radio input:checked + .radio-label:before {
    background-color: #fff;
    box-shadow: inset 0 0 0 5.3px #2B3466;
    border: 1px solid #2B3466;
}

.table {
    margin: 24px;
    margin-top: 8px;
    position: relative;
}

table tr th {
    background-color: #1B2245;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    text-align: center;
}

table tr th.cur {
    cursor: pointer;
}

table td {
    border-bottom: 1px solid #EAF0F7;
    padding: 8px 5px;
}

table th i {
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 6px;
    background-image: url(../images/icon/ico-filter.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}

table .cur.on i {
    border: 1px solid #FFC700;
    background-image: url(../images/icon/ico-filter-on.png);
}

.table button {
    padding: 6px 12px;
    font-size: 12px;
}

.fix-table {
    max-height: 580px;
    background-color: #fff;
    overflow: auto;
    overflow-y: scroll;
}

.fix-table table {
    table-layout: fixed;
    overflow-wrap: break-word;
}

.fix-table table th {
    position: sticky;
    top: 0;
    word-break: normal;
    z-index: 10;
}

.page_wrap {
    text-align: center;
    font-size: 0;
    margin-top: 24px;
}

.page_nation {
    display: inline-block;
}

.page_nation .none {
    display: none;
}

.page_nation a {
    display: block;
    float: left;
    border: 1px solid #E2E4E9;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: #999999;
    text-decoration: none;
}

.page_nation .arrow {
    border: 1px solid #ccc;
}


.page_nation a.active {
    background-color: #5C61F4;
    color: #fff;
    border: 1px solid #5C61F4;
}



/*--------------------------------------------------------------------------------------
modal
----------------------------------------------------------------------------------------*/
.filter-modal {
    position: absolute;
    top: 40.47px;
    background-color: #fff;
    border: 1px solid #ECEEF2;
    border-radius: 3px;
    box-shadow: 10px 10px 10px rgba(152, 160, 178, 0.08);
    left: 5%;
}

.filter-modal.hide {
    display: none;
}

.filter-body ul li {
    padding: 3px;
    box-sizing: border-box;
}

.filter-body {
    padding: 20px;
    border-bottom: 1px solid #ECEEF2;
    max-height: 345px;
    display: flex;
}

.filter-body ul {
    margin-right: 10px;
}

.filter-body ul:last-of-type {
    margin-right: 0;
}

.filter-footer {
    padding: 10px;
}

.filter-footer button {
    padding: 6px 22px
}

.filter-modal.radio {
    left: 13%;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.filter-modal.radio .radio-label:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 1px solid #D9D9D9;
    display: inline-block;
    width: 20px;
    top: 4px;
    height: 20px;
    position: relative;
    margin-right: 10px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.filter-modal.radio input:checked + .radio-label:before {
    background-color: #fff;
    box-shadow: inset 0 0 0 5.3px #2B3466;
    border: 1px solid #2B3466;
}

.filter-modal.radio.governor {
    left: 23%;
}

.filter-modal.radio.goods {
    left: 33%;
}

.form-guide {
    width: 100%;
    font-size: 13px;
}

.form-guide i {
    margin-right: 6px;
}

.input-sh {
    display: flex;
}

.input-sh > div:first-of-type {
    margin-left: 0;
}

.input-sh > div {
    margin-left: 1%;
    width: 49.5%
}

/*--------------------------------------------------------------------------------------
원장추가
----------------------------------------------------------------------------------------*/
.form-group {
    padding: 6px 24px
}

.form-group.row {
    display: flex;
    align-items: center;
}

.form-group label {
    color: #3f4047;
    font-size: 13px;
    text-align: right;
    width: 20%;
    padding: 6px;
}

.form-group .form-control {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 10px;
}

.form-control .col-3 {
    border: 1px solid #DEE0E5;
    width: calc(97% / 3);
    margin: 0 0.5%;
}

.form-control .col-2 {
    border: 1px solid #DEE0E5;
    width: calc(98% / 2);
    margin: 0 0.5%;
}

.form-control .col-1 {
    border: 1px solid #DEE0E5;
    flex: 1;
    margin: 0 0.5%;
}

.form-control.col-wrap {
    flex-wrap: wrap;
}

.form-control.col-wrap input {
    margin-bottom: 4px;
}

.form-control.span-box {
    flex-wrap: wrap;
}

.form-control span {
    background-color: #F1F4FF;
    padding: 10px;
    font-size: 13px;
    border-radius: 3px;
    margin: 4px;
    font-weight: 500;

}

.form-control span i {
    color: #8D919C
}

.form-control button {
    margin: 4px;
}

.form-control input[type="date"] {
    padding: 10px;
}

/*--------------------------------------------------------------------------------------
계출
----------------------------------------------------------------------------------------*/
.box-sh {
    box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.09)
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-bar .bar {
    display: flex;
    width: 23%;
}

.search-bar .bar.btn {
    width: 8%;
    justify-content: center;
    align-items: center;
}

.search-bar .bar.btn button {
    height: 41.5px;
    width: 60px;
}

.search-bar .bar label {
    background-color: #F5F7FB;
    color: #191919;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    width: 30%;
    justify-content: center;
}

.search-bar .bar select {
    border: 1px solid #E2E4E9;
    background-color: #fff;
    width: 100%;
}

.search-bar .bar input {
    width: 100%;
}

.bar-info {
    width: 70%;
    padding: 12px 10px;
}

.row.con-2 {
    justify-content: space-between
}

.row.con-2 > .row {
    width: 49.5%;
}

.row.con-2 > .row:first-of-type {
    padding: 24px;
}

.report .fix-table {
    margin: 0;
    max-height: 650px;
}

.talble-info .info-head h6 {
    padding: 8px 24px;
    background-color: #F5F7FB;
    font-weight: 500;
    font-synthesis: 14px;
}

.talble-info .info-body {
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
}

.talble-info .info-body .info-row {
    width: 49.5%;

}

.talble-info .info-body .info-row .info-result {
    display: flex;
    border: 1px solid #DEE0E5;
    border-radius: 3px;
}

.talble-info .info-body .info-row .info-result select {
    width: 100%;
}

.talble-info .info-body .info-row h7 {
    font-size: 13px;
    color: #3F4047;
    width: 100%;
    display: block;
    margin-bottom: 6px;
}

.talble-info .info-body .info-row .info-result span:first-of-type {
    border-right: 1px solid #DEE0E5;
}

.talble-info .info-body .info-row .info-result span {
    display: inline-block;
    width: 50%;
    padding-right: 10px;
}

.talble-info .info-result span input {
    width: calc(100% - 20px);
    border: 0;
    text-align: right;
}

.talble-info .info-result span strong {
    font-size: 13px;
    width: 20px;
}

table tr.on {
    background-color: #F2F8FF;
}

.table-info.footer {
    padding: 12px 24px;
    text-align: right;
    border-top: 1px solid #E2E4E9;
    margin-top: 10px;
}

.table-info.footer button {
    height: 40px;
    width: 96px;
}

.info-search-bar {
    flex-direction: column;
}

.info-search-bar .bar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-search-bar .search-bar {
    border-bottom: 1px solid #E2E4E9;
}

.info-search-bar .search-bar:last-of-type {
    border-bottom: 0;
}

.info-search-bar .search-bar .bar {
    width: 20%;
    font-size: 14px;
}

.info-search-bar .search-bar.bar-2 .bar:last-of-type {
    width: 80%;
}

.info-search-bar .search-bar.bar-2 .bar:last-of-type label {
    width: 100.31px;
}

.report-info .talble-info .info-body .info-row {
    width: 24.5%
}

.main-body.pd-row .talble-info .info-body {
    padding: 24px;
}

.talble-info.input-line .info-body .info-row .info-result span {
    width: 100%;
    border-right: 0;
}

/*--------------------------------------------------------------------------------------
정산ㄴ
----------------------------------------------------------------------------------------*/
.calculate {
    flex-direction: row;
}

.calculate .search-main {
    width: 90%;
}

.calculate .search-bar .bar {
    width: 33.333333%;
}

.calculate .bar-2 .sel-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calculate .bar-2 .sel-2 select {
    width: 49.5%;
}

.calculate .input-2 .bar-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calculate .input-2 select {
    width: 20%;
}

.info-search-bar.calculate .input-2 input {
    width: 79.5%;
}

.calculate .input-2 label {
    width: 150.16px !important;
}

.search-btn {
    width: 10%;
    border-left: 1px solid #E2E4E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn button {
    width: 100px;
}

.cal-value {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-table {
    background-color: #fff;
    padding-bottom: 20px;
}

.cal-value .table {
    width: 68%;
    margin: 0;
    border-radius: 3px;
    overflow: hidden;
}

.cal-value .table table td {
    border: 0;
    font-weight: 500;
    border-right: 1px solid #E2E4E9;
}

.cal-value .nav-table table td button {
    font-size: 12px;
    padding: 6px 12px;
}

.cal-value .table table td:last-of-type {
    border-right: 0;
}

.cal-value .table-value {
    width: 31%;
    border-radius: 3px;
    overflow: hidden;
}

.cal-value .table-value td {
    font-weight: 500;
}

.cal-value .table-value .font-red {
    text-align: right;
    font-weight: 600;
    font-size: 15px;
    padding-right: 24px;
}

.cal-value .nav-table {
    margin: 0;
    width: 68%;
    border-radius: 3px;
    overflow: hidden;
}

.cal-value .nav-table th {
    position: sticky;
    top: 0;
    word-break: normal;
    z-index: 10;
}

.cal-value .nav-table-value {
    width: 31%;
}

.cal-value .nav-table-value > div {
    border-radius: 3px;
    overflow: hidden;
}

.nav-table-value .commission {
    width: 100%;
    border-bottom: 1px solid #E2E4E9;
    display: flex;
    justify-content: space-between;

}

.nav-table-value .commission:last-of-type {
    border-bottom: 0;
}

.comm-row {
    width: 50%;
    display: flex;
    padding: 12px;
}

.comm-row h7 {
    font-size: 15px;
    font-weight: 500;
}

.row-guide {
    font-size: 12px;
    color: #9E9E9E;
    font-weight: 400;
}

.percent {
    width: 30px;
    height: 30px;
    background-color: #ffeeed;
    border-radius: 100px;
    margin-right: 8px;
}

.i-percent {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../images/icon/i-percent.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}

.krw {
    width: 30px;
    height: 30px;
    background-color: #EAEBFF;
    border-radius: 100px;
    margin-right: 8px;
}

.i-krw {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../images/icon/i-krw.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
}

.cal-value .table-info .info-row {
    display: flex;
    padding: 4px;
}

.cal-value .table-info .info-row h7 {
    width: 23%;
    font-size: 14px;
    color: #9E9E9E;
    font-weight: 500;
}

.cal-value .table-info .info-row p {
    width: 77%;
    font-size: 14px;
    font-weight: 500;
}

.badge-normal {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #D9D9D9;
    border-radius: 100px;
    margin-right: 3px;
    vertical-align: middle;
}

/*--------------------------------------------------------------------------------------
대시보드-관리자용
----------------------------------------------------------------------------------------*/
.badge.confirm {
    background-color: #F45C5C;
}

.badge.wait {
    background-color: #F4D35C;
}

.badge.done {
    background-color: #56BE7A;
}

.header-sub .btn.dashbard {
    color: #6e6e74;
    font-size: 15px;
    font-weight: 400;
    padding-right: .5%;
}

.header-sub .dashbard i.badge {
    width: 8px;
    height: 8px;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.board {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 19.2%;
    margin-left: .5%;
    margin-bottom: .5%;
}

.box-head h5 {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    padding-bottom: 0;
}

.box-head .total {
    padding: 10px;
}

.box-head .total i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.toal-nav i {
    display: inline-block;
    width: 15px;
    height: 16px;
    ;
    margin-right: 4px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.box-body span i {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

i.ico-r-krw {
    background-image: url(../images/icon/ico-r-krw.svg);
}

i.ico-y-krw {
    background-image: url(../images/icon/ico-y-krw.svg);
}

i.ico-g-krw {
    background-image: url(../images/icon/ico-g-krw.svg);
}

i.ico-b-krw {
    background-image: url(../images/icon/ico-b-krw.svg);
}

.box-head .toal-nav {
    padding: 10px;
}

.box-head .total .num {
    font-size: 22px;
    font-weight: 600;
}

.box-head .total .text {
    font-size: 14px;
    font-weight: 400;
}

.confirm .box-head {
    background-color: #FFF0F0;
    border-top: 4px solid #F45C5C;
}

.confirm .box-head .total {
    border-bottom: 1px solid #EDDADA;
}

.wait .box-head {
    background-color: #FFFCF0;
    border-top: 4px solid #F4D35C;
}

.wait .box-head .total {
    border-bottom: 1px solid #EDE9DA;
}

.done .box-head {
    background-color: #F9FFF0;
    border-top: 4px solid #56BE7A;
}

.done .box-head .total {
    border-bottom: 1px solid #E1EDDA;
}

.toal-nav p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.toal-nav p h7 {
    color: #838389;
    font-size: 13px;
    font-weight: 400;
}

.toal-nav p strong {
    font-size: 16px;
    font-weight: 500;
}

.board .box-body {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.board .box-body p {
    width: 48%;
    margin: 1%;
    border: 1px solid #E2E4E9;
    border-radius: 3px;
    padding: 8px;
}

.board .box-body p span {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.board .box-body p h8 {
    color: #838389;
    font-size: 13px;
    font-weight: 400;
}

/*--------------------------------------------------------------------------------------
대시보드-관리자용-상세
----------------------------------------------------------------------------------------*/
.board-info {
    width: 100%;
    background-color: #fff;
    margin-bottom: 24px;
    border-radius: 3px;
}

.board-info-haed {
    padding: 24px;
}

.board-info-haed h5 {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}

.board-info-haed span {
    display: inline-block;
    font-weight: 500;
    padding: 8px;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 8px;
}

.badge-text-r {
    background-color: #FFF0F0;
    color: #F45C5C;
}

.badge-text-y {
    background-color: #fffae4;
    color: #ff9d00;
}

.badge-text-g {
    background-color: #F9FFF0;
    color: #56BE7A;
}

.board-info-nav {
    padding: 24px;
    display: flex;
    padding-top: 0;
    align-items: center;
    width: 100%;
}


.board-info-nav > div {
    text-align: center;
    padding-right: 50px;
}

.board-info-nav > div:last-of-type {
    border-right: 0;
}

.board-info-nav .total {
    text-align: left;
}

.board-info-nav strong {
    margin-right: 9px;
    font-size: 21px;
    font-weight: 600;
}

.board-info-nav span.text {
    font-size: 14px;
    font-weight: 500;
    color: #838389;
}


.ico-coin {
    background-image: url(../images/icon/ico-coin.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ico-paper {
    background-image: url(../images/icon/ico-paper.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ico-user {
    background-image: url(../images/icon/ico-user.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.board-info-nav2 {
    width: 100%;
    padding: 24px;
    padding-top: 0;
    display: flex;
}


.board-info-nav2 > div {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-right: 1%;
    text-align: center;
    border: 1px solid #E2E4E9;
}

.board-info-nav2 h8 {
    padding: 10px;
    padding-bottom: 6px;
    font-size: 13px;
    font-weight: 400;
    color: #838389;
}

.board-info-nav2 span {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 10px;
}

.board-info-nav2 .ico-b-krw {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
    margin-top: -2px;
    opacity: .8
}

/*--------------------------------------------------------------------------------------
정산목록 - 관리자용
----------------------------------------------------------------------------------------*/
.f-box.list .portlet {
    width: 32.6%;
}

.ico-deposit {
    background-image: url(../images/icon/ico-deposit.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ico-withdrawal {
    background-image: url(../images/icon/ico-withdrawal.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.badge-text-business {
    background-color: #F3FAF8;
    color: #00ba8f;
    font-weight: 600;
}

.badge-text-person {
    background-color: #F2F0FC;
    color: #8B73EF;
    font-weight: 600;
}

.board-info-haed .list-info li {
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.board-info-haed .list-info li + li {
    padding-left: 28px;
}

.board-info-haed .list-info li + li::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 12px;
    width: 2px;
    height: 15px;
    border-radius: 0.5px;
    background-color: #a5a5a5;
}
