@charset "utf-8";

/*button*/
button {
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
}

.btn-sm {
    padding: 10px 20px !important;
    font-size: 13px !important;
}

.btn-su {
    background-color: #5AB8A6;
    color: #fff;
}

.btn-main {
    background-color: #4782F6;
    color: #fff;
}

.btn-gr {
    color: #717174;
    background-color: #EFEFEF;
}

.btn-line-main {
    color: #4782F6;
    border: 1px solid #4782F6;
    background-color: #fff;
}

.btn-bu {
    background-color: #5C61F4;
    border: 1px solid #5C61F4;
    color: #fff;
}

.btn-red {
    background-color: #F45C5C;
    border: 1px solid #F45C5C;
    color: #fff;
}

.btn-pencil {
    border: 1px solid #BABABB;
    padding: 8px 10px !important;
    background-color: #fff;
}

.btn-line-cancel {
    border: 1px solid #EBEDF2;
    background-color: #F4F5F8;
    color: #212529;
    font-weight: 500;
}

/*font*/
.font-blue {
    color: #4870FF;
    font-weight: 400;
}

.font-red {
    color: #F56242;
    font-weight: 400;
}

/*badge*/
.badge {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 3px;
}

.b-wait {
    background-color: #FFCEBB;
}

.b-done {
    background-color: #BCF3B7;
}

/*table*/
.tr-wait {
    background-color: #FFF2ED;
}

.tr-done {
    background-color: #F2FCF1;
}

/*color*/
.w-bg {
    background-color: #fff !important;
}

/*margin*/
.m-mg-12 {
    margin: 12px;
}

.m-bmg-12 {
    margin-bottom: 12px;
}

.m-bmg-24 {
    margin-bottom: 24px;
}

.m-bmg-20 {
    margin-bottom: 20px;
}

/*padding*/
.m-tpa-10 {
    padding: 10px 0;
}

.m-bpa-10 {
    padding-bottom: 10px
}

/*input*/
input {
    background-color: #fff;
    border: 1px solid #DEE0E5;
    border-radius: 3px;
    padding: 10px;
    font-size: 13px;

}

input::placeholder {
    color: #CED0D4;

}

input:focus {
    outline: none;
}

.header-sub {
    padding: 0 24px;
    display: flex;
    justify-content: flex-end;
}

.header-sub .btn-sm {
    height: 41px;
}

.header-sub input {
    border: 0;
    width: 100%;
    padding-right: 40px;
}

.header-sub .search {
    border: 1px solid #DEE0E5;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    height: 40px;
}

.header-sub .search button {
    width: 39.5px;
    height: 39.5px;
    background-color: #4782F6;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 13px;
    height: 40px;
}

.modal-form .search {
    position: relative;
    margin-bottom: 8px;
}

.modal-form .search input {
    padding-right: 45px;
}

.modal-form .search button {
    width: 39.5px;
    height: 39.5px;
    background-color: #4782F6;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 13px;
    height: 40px;
}

.search-result select option {
    padding: 5px;
}

.header-sub .btn-bu {
    height: 40px;
}

/*select*/
select {
    border: 0;
    background-color: #fff;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
}

select:focus {
    outline: none;
}

/*text*/
.align-right {
    text-align: right;
}

.text-line {
    color: #2B3466;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}
