@charset "utf-8";

/*button*/
button {
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
}

.btn-su {
    background-color: #5AB8A6;
    color: #fff;
}

.btn-main {
    background-color: #4782F6;
    color: #fff;
}

.btn-gr {
    color: #717174;
    background-color: #EFEFEF;
}

.btn-line-main {
    color: #4782F6;
    border: 1px solid #4782F6;
}

.btn-pencil {
    border: 1px solid #BABABB;
    padding: 8px 10px !important;
}

/*color*/
.w-bg {
    background-color: #fff !important;
}

/*margin*/
.m-mg-12 {
    margin: 12px;
}

/*input*/
input {
    background-color: #fff;
    border: 1px solid #DEE0E5;
    border-radius: 3px;
    padding: 10px;
    font-size: 13px;

}

input::placeholder {
    color: #CED0D4;

}

input:focus {
    outline: none;
}

.header-sub {
    width: 25%;
    padding: 0 24px;
}

.header-sub input {
    border: 0;
    width: 100%;
    padding-right: 40px;
}

.header-sub .search {
    border: 1px solid #DEE0E5;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
}

.header-sub .search button {
    width: 39.5px;
    height: 39.5px;
    background-color: #4782F6;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 13px;
}

/*select*/
select {
    border: 0;
    background-color: #fff;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
}

select:focus {
    outline: none;
}

/*text*/
.align-right {
    text-align: right;
}

.text-line {
    color: #2B3466;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}
